.legal-banner {
    background-image: url(../images/Rectangle\ 4.png);
    min-height: 70vh;
    background-size: cover;
    position: relative;
    color: white;
    
}
.legal-banner-title{
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
}
.legal-carosal-image{
    background-image: url(../images/Rectangle\ 6.png);
    background-size:cover;
    background-repeat: no-repeat;
    

    
   
}
.legal-user-image{
    width: 50px;
}

.legal-card-image {
    width: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1,h5,h3{
    font-family: 'EB Garamond', serif;
}