.legal-banner {
    background-image: url(../images/Rectangle\ 4.png);
    min-height: 80vh;
    background-size: cover;
    position: relative;
    color: white;
    
}
.legal-banner-title{
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
}
.legal-user-image{
    width: 80px;
}


.legal-card-image {
    width: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1,h5,h3{
    font-family: 'EB Garamond', serif;
}